# 일반 구매 차감 
1000만 세톱 데이터에 대해 일반 구매 차감 연산 실행한 결과  
 - 전체 : 94 초  
 - 세션 생성 : 23 초  
 - 차감 계산 : 37 초 (14초.캐시)    
 - 스냅샷 저장 : 32 초  
 - 결과 확인 : 2 초  
 - 요약 결과 생성 : 
 - 요약 rdb 기록 :

In [1]:
# 필요 라이브러리 임포트  
import socket
import sys
import os
from pyspark import SparkContext, SparkConf
from pyspark.streaming import StreamingContext
from pyspark.sql import Row, SparkSession
from os.path import abspath
import findspark
import time

In [2]:
# 환경변수 정의  
scale = 1000 # 1000 만 건 수준
PRJ_ROOT = '/user/root'
APP_NAME = '03-01_plain-ad-calc'
DB_NAME = 'inven'

# 데이터의 파일 포맷 및 파일명  
tbl_setop_name = 'inven/table-set-6m-50-1000'
file_format = 'parquet'

In [3]:
# 스파크 생성 
def spark_creation():
    spark = SparkSession.builder.master('yarn').appName(APP_NAME)\
    .config('spark.driver.cores', '2').config('spark.driver.memory', '4g')\
    .config('spark.num.executors', '4')\
    .config('spark.executor.cores', '2').config('spark.executor.memory', '2g')\
    .config('spark.jars', '/hive-bin/lib/mysql-connector-java-5.1.49-bin.jar')\
    .config('spark.driver.extraClassPath', '/hive-bin/lib/mysql-connector-java-5.1.49-bin.jar').getOrCreate()
    sc = spark.sparkContext
    sc
    return spark

In [12]:
!ls -l /hive-bin/lib | grep mysql

-rw-r--r-- 1 root root   1006906 Mar 17 01:30 mysql-connector-java-5.1.49-bin.jar
-rw-r--r-- 1 root staff    10476 Nov 15  2018 mysql-metadata-storage-0.12.0.jar

In [4]:
%%time
spark = spark_creation()

/usr/local/lib/python3.6/dist-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

CPU times: user 35.2 ms, sys: 22.1 ms, total: 57.2 ms
Wall time: 23.6 s

## 전체 구매 차감  
모든 세탑에 (지정 비율 * 구매 단위) 값을 차감  
- 인벤토리 기준 정보 조회  
- setop 별 비율대로 구매 시간을 반영해서(1 미만 값 등 추가 고민 필요) 차감 데이터 생성 
- 인벤시간에서 차감 데이터를 차감  
- 차감 결과를 이용해 시간, 지역, 타겟별 잔여 리포트 생성  
  
원본 비율을 계속 적용하면 남는 시간이 부족해서 차감 안되는 일이나, 처음부터 비율이 낮아서 판매시간 곱해도 1이 안 되는 오차가 계속 발생할 것으로 추정  
- (구매시간 * )잔여시간 계산 값에 일정비율?을 적용해야 차감총액이 구매시간이 될지를 찾아서, 일정비율을 적용하는 방법   
- 비율*구매시간 결과 중 정수 계산으로 1 이상의 총합이 구매시간이 되도록 비율 가중치를 찾는 방법  
  
***임시처리***  
- 반올림으로 차감 수량 결정(오차 일단 무시) 
- 부족분 분배...  (비율, 남은 수량 으로 빠르게 계산할 방법...)  

## 중요  
- 오차 범위가 큰 부족분 먼저 처리  
- 비율 오차 처리는 내림 계산을 기본으로 나머지 차액을 회귀식으로 최소오차 비율 찾아서 일괄 적용.   
 -> 잔여가 1 남지 않은 수량을 제외하고 계산...  
  - 1. 내림 결과,  2. 부족분 계산, 3. 비율 오차 처리  
  - 1. 총량 계산 
  - 2. 부족 여부 판단 (6개월분 각각? 전체? 판단 필요)   
  - 3. (반올림) 비율 계산 결과 적용 - (-) 가능  
  - 4. 총량 0이 아닌 세톱 모두 조회  
  - 5. 0<x 인 로우만 조회해서 남은 비율 계산.  
  - 6. (-) 수량 * 전체 잔여 * 5 비율 적용. -> (-)는 모두 0이 되고, 나머지는 추가 차감.  
  - 6개월분 모두 적용  

  
>- 내림값 총합에서 남는 값을 
>- 차감 부족분을 어떻게 분배할 지 ...

In [5]:
%%time
## 인벤 기준 정보 조회  
spark.read.format(file_format).load(tbl_setop_name).createOrReplaceTempView('setop_view')
spark.catalog.cacheTable("setop_view")
spark.catalog.isCached('setop_view')

CPU times: user 5.77 ms, sys: 434 µs, total: 6.2 ms
Wall time: 5.47 s

True

In [7]:
%%time
# 1) 총량 계산 : 최초 24 초. 재실행 시 1초 미만. 
sql_total = "select sum(inv_val_01), sum(inv_val_02), sum(inv_val_03), sum(inv_val_04), sum(inv_val_05), sum(inv_val_06) from setop_view"
spark.sql(sql_total).show()

+---------------+---------------+---------------+---------------+---------------+---------------+
|sum(inv_val_01)|sum(inv_val_02)|sum(inv_val_03)|sum(inv_val_04)|sum(inv_val_05)|sum(inv_val_06)|
+---------------+---------------+---------------+---------------+---------------+---------------+
|    10000000000|    10000000000|    10000000000|    10000000000|    10000000000|    10000000000|
+---------------+---------------+---------------+---------------+---------------+---------------+

CPU times: user 2.78 ms, sys: 721 µs, total: 3.5 ms
Wall time: 837 ms

In [35]:
#!pip install numpy pandas
#!python3 -m pip install -U pip
# !pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.3.4-cp36-cp36m-manylinux1_x86_64.whl (11.5 MB)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.3.1)
Collecting pillow>=6.2.0
  Downloading Pillow-8.4.0-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |################################| 3.1 MB 1.8 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (3.0.7)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.1->matplotlib) (1.11.0)
Installing collected packages: pillow, matplotlib
Successfully installed matplotlib-3.3.4 pillow-8.4.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [50]:
# # 2) 부족 여부 판단. 생략 ... 
# # 아래는 총합 100% 근사한 분포수 생성  
# import numpy as np
# import matplotlib.pyplot as plt  

# cnt = 10000*1000
# rates = np.random.normal(loc=2/cnt*50, scale=1/cnt, size=cnt)
# plt.hist(rates)
# print(sum(rates))

In [59]:
%%time 
# 3) 비율 계산 반올림  
pcnt = 1000*1000*10 # 100 이어야 하지만 1천만건 하드 코딩 비율 조정 위해 임시값. 
sql_total = f"select setop, -(inv_val_01*inv_rate_01/{pcnt}) inv_val_01, -(inv_val_02*inv_rate_02/{pcnt}) inv_val_02, -(inv_val_03*inv_rate_03/{pcnt}) inv_val_03\
, -(inv_val_04*inv_rate_04/{pcnt}) inv_val_04, -(inv_val_05*inv_rate_05/{pcnt}) inv_val_05, -(inv_val_06*inv_rate_06/{pcnt}) inv_val_06 from setop_view"
sql_all = f"select sum(inv_val_01) inv_val_01, sum(inv_val_02) inv_val_02, sum(inv_val_03) inv_val_03\
, sum(inv_val_04) inv_val_04, sum(inv_val_05) inv_val_05, sum(inv_val_06) inv_val_06 from ({sql_total}) as AL"

spark.sql(sql_all).show()

+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|         inv_val_01|         inv_val_02|         inv_val_03|         inv_val_04|         inv_val_05|         inv_val_06|
+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|-1000.0000000251916|-1000.0000000251916|-1000.0000000251916|-1000.0000000251916|-1000.0000000251916|-1000.0000000251916|
+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+

CPU times: user 3.81 ms, sys: 0 ns, total: 3.81 ms
Wall time: 1.54 s

In [65]:
%%time
# 3) 차감 계산  
sql_calc = f"select setop, sum(inv_val_01) inv_val_01 , sum(inv_val_02) inv_val_02, sum(inv_val_03) inv_val_03\
, sum(inv_val_04) inv_val_04 , sum(inv_val_05) inv_val_05, sum(inv_val_06) inv_val_06 \
from ( \
{sql_total} \
UNION ALL \
select setop, inv_val_01, inv_val_02, inv_val_03, inv_val_04, inv_val_05, inv_val_06 from setop_view \
) as AL \
group by setop"
#spark.sql(sql_calc).count()
spark.sql(sql_calc).createOrReplaceTempView("tbl_subtracted")
# 차감 스냅샷 기록  
# ...

CPU times: user 2.87 ms, sys: 449 µs, total: 3.32 ms
Wall time: 82 ms

In [69]:
%%time
# 4) 총량 0이 아닌 세톱 조회  
spark.sql("select * from tbl_subtracted where inv_val_01>0 or inv_val_02>0 or \
inv_val_03>0 or inv_val_04>0 or inv_val_05>0 or inv_val_06>0 ").createOrReplaceTempView("tbl_remains")

CPU times: user 0 ns, sys: 3.64 ms, total: 3.64 ms
Wall time: 30.1 ms

In [74]:
%%time
# 5) 남은 비율 계산 : 42 초    
# 5-1) (-) 수량. 일단 하드 코딩 
#spark.sql("select 1000 inv_val_01, 900 inv_val_02, 950 inv_val_03, 850 inv_val_04, 810 inv_val_05, 890 inv_val_06").createOrReplaceTempView("remains_qty")
remains = [1000, 900, 950, 850, 880, 890]
totals = """select 
sum(inv_val_01) inv_val_01, sum(inv_val_02) inv_val_02, sum(inv_val_03) inv_val_03
, sum(inv_val_04) inv_val_04, sum(inv_val_05) inv_val_05, sum(inv_val_06) inv_val_06 
from tbl_remains
"""
spark.sql(totals).createOrReplaceTempView("totals")
# 5-2) 도수 / 남은 총량. 남은 수량을 차감할 비율. 
sql_minus_remains = f"""
select setop
, -{remains[0]}*tbl_remains.inv_val_01/totals.inv_val_01 inv_val_01, -{remains[1]}*tbl_remains.inv_val_02/totals.inv_val_02 inv_val_02 
, -{remains[2]}*tbl_remains.inv_val_03/totals.inv_val_03 inv_val_03, -{remains[3]}*tbl_remains.inv_val_04/totals.inv_val_04 inv_val_04 
, -{remains[4]}*tbl_remains.inv_val_05/totals.inv_val_05 inv_val_05, -{remains[5]}*tbl_remains.inv_val_06/totals.inv_val_06 inv_val_06 
from tbl_remains cross join totals 
"""
spark.sql(sql_minus_remains).createOrReplaceTempView("minus_remains")

#spark.sql("select * from minus_remains limit 5").show()

+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|       setop|          inv_val_01|          inv_val_02|          inv_val_03|          inv_val_04|          inv_val_05|          inv_val_06|
+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|ST_A_0599356|-1.00000000000107...|-9.00000000000968...|-9.50000000001022...|-8.50000000000914...|-8.80000000000946...|-8.90000000000957...|
|ST_A_0599582|-1.00000000000107...|-9.00000000000968...|-9.50000000001022...|-8.50000000000914...|-8.80000000000946...|-8.90000000000957...|
|ST_A_0599837|-1.00000000000107...|-9.00000000000968...|-9.50000000001022...|-8.50000000000914...|-8.80000000000946...|-8.90000000000957...|
|ST_A_0599913|-1.00000000000107...|-9.00000000000968...|-9.50000000001022...|-8.50000000000914...|-8.80000000000946...|-8.90000000000957...|
|ST_A_0600125|-1.00000000000107...|-9.00000000000968...|-9.50000000001022...|-8.50000000000914...|-8.80000000000946...|-8.90000000000957...|
+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

CPU times: user 15.5 ms, sys: 439 µs, total: 15.9 ms
Wall time: 41.9 s

In [75]:
%%time
# 6) 추가 차감 및 결과 스냅샷 기록 : 70 초   
sql_result = """
select setop
, sum(inv_val_01) inv_val_01 , sum(inv_val_02) inv_val_02
, sum(inv_val_03) inv_val_03 , sum(inv_val_04) inv_val_04
, sum(inv_val_05) inv_val_05 , sum(inv_val_06) inv_val_06
from 
(
select * 
from tbl_subtracted 
UNION ALL 
select * 
from minus_remains
) as A 
group by setop 
"""

result = spark.sql(sql_result)
result.write.save(path="result", format=file_format, mode='overwrite')

CPU times: user 17.8 ms, sys: 2.9 ms, total: 20.7 ms
Wall time: 1min 8s

In [76]:
%%time
cnt = spark.read.format(file_format).load('result').count()
print(f'Row count = {cnt:,}')

Row count = 10,000,000
CPU times: user 4.64 ms, sys: 59 µs, total: 4.7 ms
Wall time: 1.3 s

In [ ]:
# 스냅샷에서 차감 리포트 생성  
# ...

In [10]:
%%time
# rdb 쓰기 테스트 
# conf = SparkConf()  # create the configuration
#conf.set("spark.jars", "/path/to/postgresql-connector-java-someversion-bin.jar")  # set the spark.jars
# --driver-class-path postgresql-9.4.1207.jar --jars postgresql-9.4.1207.jar
# /hadoop/share/hadoop/yarn/lib 에 mysql jdbc.jar 넣는다.  
props = {"driver":"com.mysql.jdbc.Driver"}
db_url = "jdbc:mysql://rdb/test_jdbc?user=jdbc&password=jdbc"
tbl = "from_spark"
rdb = spark.sql('select * from result limit 10')
rdb.write.jdbc(db_url, tbl, mode='overwrite', properties=props)

CPU times: user 2.09 ms, sys: 7.54 ms, total: 9.63 ms
Wall time: 18.8 s

In [ ]:
# jdbcDF = spark.read \
#     .format("jdbc") \
#     .option("url", "jdbc:postgresql:dbserver") \
#     .option("dbtable", "jdbc:postgresql:dbserver") \
#     .load()

In [8]:
spark.stop()